{
  "presets": ["es2015", "react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "~",
      "rootPathPrefix": "src"
    }]
  ]
}
